<%= form_for @owner, :html => {:multipart => true}  do |f| %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Name Owner</label><br>
    <%= f.text_field :nameOw %>
  </div>
  <div class="field">
    <label>Company Id</label><br>
    <%= f.collection_select :company_id, Company.all, :id, :nameCo %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
