<p id="notice"><%= notice %></p>

<h1>Companie Lists</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><b><%= link_to company.nameCo, company %></b></td>
        <td><%= company.address %></td>
        <td><%= company.city %></td>
        <td><%= company.email %></td>
        <td><%= company.phone %></td>
        <td><a href="/owners/new/?<%= company.id %>"><%=image_tag("add.png")%> Add Owner</a></td>
        <td><%= link_to image_tag("show.png"), company %></td>
        <td><%= link_to image_tag("edit.png"), edit_company_path(company) %></td>
        <td><%= link_to image_tag("delete.png"), company, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to image_tag("add.png")+' New Company', new_company_path %>
